<div class="mb-3">
    <%= form.label :url, "Image or Audio URL", class: "form-label"  %>
    <%= form.text_field :url, class: "form-control" %>
    <%= form.label :answer, "Answer", class: "form-label"  %>
    <%= form.text_field :answer, class: "form-control" %
</div>