<div class="mb-3">
    <%= form.label :url, "ImageL", class: "form-label"  %>
    <%= form.file_field :picture, class: "form-control" %>
    <%= form.label :answer, "Answer", class: "form-label"  %>
    <%= form.text_field :answer, class: "form-control" %
</div>