<div class="mb-3">
    <%= form.label :text, "Question Text", class: "form-label"  %>
    <%= form.text_field :text, class: "form-control" %>
    <%= form.label :answer, "Answer", class: "form-label"  %>
    <%= form.text_field :answer, class: "form-control" %>
</div>