<div class="row">
  <div class="col">
    <h1>Editing Round <%= @round.position + 1 %></h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= render "rounds/form", round: @round %>
  </div>
</div>